### Reading the data

- Pandas - Data analysis library in Python.

In [1]:
import pandas as pd

### In order to read the data using Pandas we would use a function 'read_csv'

In [2]:
df = pd.read_csv("./data/dataset.csv")

In [4]:
df.describe() # will only describe info about numerical values

       Number_of_vehicles_involved  Number_of_casualties
count                 12316.000000          12316.000000
mean                      2.040679              1.548149
std                       0.688790              1.007179
min                       1.000000              1.000000
25%                       2.000000              1.000000
50%                       2.000000              1.000000
75%                       2.000000              2.000000
max                       7.000000              8.000000

### Getting the top five data from the provided dataset

In [5]:
df.head()

,Age_band_of_driver,Sex_of_driver,Educational_level,Driving_experience,Type_of_vehicle,Service_year_of_vehicle,Defect_of_vehicle,Area_accident_occured,Lanes_or_Medians,Road_allignment,...,Vehicle_movement,Casualty_class,Sex_of_casualty,Age_band_of_casualty,Casualty_severity,Work_of_casuality,Fitness_of_casuality,Pedestrian_movement,Cause_of_accident,Accident_severity
0,18-30,Male,Junior high school,2-5yr,NaN,NaN,No defect,Industrial areas,Unknown,Tangent road with flat terrain,...,Going straight,na,na,na,na,Driver,Normal,Not a Pedestrian,Changing lane to the right,Slight Injury
1,31-50,Male,Junior high school,1-2yr,Public (> 45 seats),1-2yr,No defect,Industrial areas,Double carriageway (median),Tangent road with flat terrain,...,Going straight,na,na,na,na,Driver,Normal,Not a Pedestrian,Overtaking,Slight Injury
2,18-30,Male,Junior high school,1-2yr,Public (12 seats),NaN,NaN,Recreational areas,Two-way (divided with broken lines road marking),Tangent road with flat terrain,...,Going straight,Driver or rider,Male,Over 51,3,Driver,Normal,Not a Pedestrian,Changing lane to the right,Slight Injury
3,Under 18,Male,Junior high school,2-5yr,Lorry (41?100Q),Unknown,No defect,Office areas,Two-way (divided with broken lines road marking),Tangent road with flat terrain,...,Going straight,na,na,na,na,Driver,Normal,Not a Pedestrian,Changing lane to the left,Slight Injury
4,18-30,Male,Junior high school,Above 10yr,Public (12 seats),Unknown,No defect,Other,Two-way (divided with broken lines road marking),Tangent road with flat terrain,...,Going straight,na,na,na,na,Driver,Normal,Not a Pedestrian,No distancing,Slight Injury