In [3]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
data = pd.read_excel("data.xlsx")
print(data)

                    Unnamed: 0     Unnamed: 1      Unnamed: 2     Unnamed: 3  \
0                          NaN            NaN             NaN            NaN
1   Count of Accident_severity  Column Labels             NaN            NaN
2                   Row Labels   Fatal injury  Serious Injury  Slight Injury
3            Writing & reading              3              22            151
4                        2-5yr              1               3             17
5                       5-10yr              2              12             88
6                    Below 1yr            NaN               7             46
7           Junior high school             94            1054           6290
8                        1-2yr             16             152            986
9                        2-5yr             29             250           1468
10                      5-10yr             24             274           1707
11                  Above 10yr             21             232           1302
12                   Below 1yr              4             139            771
13                  No Licence            NaN               7             56
14                  Illiterate            NaN               4             30
15                       1-2yr            NaN               3             18
16                       2-5yr            NaN               1             12
17                 High school             15             139            934
18                       1-2yr              1              18            152
19                       2-5yr              8              35            239
20                      5-10yr              2              31            191
21                  Above 10yr              3              33            240
22                   Below 1yr              1              20             93
23                  No Licence            NaN               2             19
24           Elementary school             24             301           1767
25                       1-2yr              2              37            233
26                       2-5yr              8              82            383
27                      5-10yr             10             111            691
28                  Above 10yr              3              45            295
29                   Below 1yr              1              26            154
30                  No Licence            NaN             NaN             11
31           Above high school              5              53            304
32                       1-2yr              2              15             98
33                       2-5yr            NaN               9             54
34                      5-10yr              1              14             73
35                  Above 10yr              2               9             44
36                   Below 1yr            NaN               2             16
37                  No Licence            NaN               4             19
38                 Grand Total            141            1573           9476

     Unnamed: 4
0           NaN
1           NaN
2   Grand Total
3           176
4            21
5           102
6            53
7          7438
8          1154
9          1747
10         2005
11         1555
12          914
13           63
14           34
15           21
16           13
17         1088
18          171
19          282
20          224
21          276
22          114
23           21
24         2092
25          272
26          473
27          812
28          343
29          181
30           11
31          362
32          115
33           63
34           88
35           55
36           18
37           23
38        11190